@font-face {
    font-family: 'DellaRespira';
    src: url('DellaRespira.ttf');
}
html > * {
	font: 16px/1.4 "arial", sans-serif;
}
body {
	color: #4d5051; /*mid grey*/
	background-color: #d6d6d6;
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	font-family: "DellaRespira", serif;
	letter-spacing: 0rem;
}
.page-in {
	width: 100%;
	float: left;
}
.page {
	width: calc(100% - 60px);
	margin: 0px auto;
}
.main, .header, .header-top, .header-bottom {
	width: calc(100%); /*1000px;*/
	float: left;
}
.header-top {
	background-image: url(header-top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 81px;
	height: 80px;
}
.header-top h1 {
	font:50px "Times New Roman", Times, serif;
	color: #FFFFFF; /*white*/
	margin-left: 12%;  /*115px;*/
	margin-top:10px;
	letter-spacing: 0.05rem;
}
.container {
  float:right;
  margin-top: 150px;
}
.centered {
  float:left;
  background-color: white;
  color: black;
  opacity: 1.0;
  padding: 10px;
  font-size: 125%;
  white-space: nowrap;
  width:auto; 
  margin: 0px 20px 0px 0px; 
  border-radius: 10px;
}
.poem {
  width:auto; 
  padding:24px; 
  border: solid 1px; 
  border-radius: 10px;
}
.image {
  float:left;
  max-width: 600px; 
  min-width: 100px;
  opacity: 1.0; 
}
td {
	vertical-align: top;
	text-align: left;
}


